.offer__holder {
	padding-top: 168px;
}

.offer__title {
	margin-bottom: 51px;
}

.offer__description {
	margin-bottom: 50px;
}

.offer__invision {
	right: 0px;
	top: 237px;
}

.offer__photopie {
	right: 222px;
	top: 170px;
}

.offer__miro {
	left: 192px;
	top: 244px;
}

.offer__photoshop {
	left: 156px;
	top: 427px;
}

.offer__figma {
	left: -12px;
	top: 564px;
}

.offer__illustrator {
	top: 740px;
	left: 25px;
}

.offer-designer__term {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	position: relative;
	border-bottom: 4px solid #504dee;
	display: inline-block;
}

.offer-designer__profession {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin: 35px 0 0;
}

.prices,
.profession {
	margin-top: 168px;
	margin-bottom: 168px;
}

.profession__holder {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profession__text {
	display: flex;
	flex-direction: column;
	text-align: left;
	max-width: 679px;
	gap: 28px;
}

.profession__description {
	color: #6d6d77;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.professionCounter__title {
	position: relative;
	display: inline-block;
}

.professionCounter__title::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background-color: #19191c;
	bottom: -55px;
	left: 0;
}

.professionCounter__subtitle {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #19191c;
	margin-bottom: 40px;
}

.profession__counters {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 8px;
}

.professionCounter__description {
	color: #6d6d77;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.profession__cards {
	margin-top: 168px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #19191c;
	gap: 20px;
}

.professionCard {
	display: flex;
	flex-direction: column;
	padding: 74px 47px;
}

.professionCard:nth-child(1) {
	background-color: #deefe4;
}

.professionCard:nth-child(2) {
	background-color: #f3f3d7;
}

.professionCard:nth-child(3) {
	background-color: #efdeee;
}

.professionCard__title {
	font-weight: 700;
	font-size: 34px;
	position: relative;
}

.professionCard__title::after {
	content: "";
	width: 100%;
	height: 4px;
	display: inline-block;
	background: #19191c;
}

.professionCard__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	margin-top: 11px;
}

.prices__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin-top: 105px;
}

.pricesCard {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	padding: 54px 50px 54px 69px;
	max-width: 467px;
	width: 100%;
	min-height: 732px;
	background-color: #deefe4;
}

.pricesCard--accent {
	background-color: #504dee;
	color: #fbfbfc;
}

.pricesCard--accent .pricesCard__price {
	color: #efeff2;
}

.pricesCard--accent .pricesCard__button {
	background: #fbfbfc;
	color: #504dee;
}

.pricesCard__title {
	font-weight: 700;
	font-size: 34px;
}

.pricesCard__list {
	list-style: square;
	margin-block-start: 54px;
	padding-inline-start: 19px;
}

.pricesCard__listItem {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.pricesCard__listItem + .pricesCard__listItem {
	margin-top: 22px;
}

.pricesCard__price {
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	color: #6d6d77;
	margin-bottom: 8px;
}

.pricesCard__discount {
	line-height: 100%;
	margin-bottom: 22px;
}

.pricesCard__body {
	flex: 1;
}

.pricesCard__button {
	background: #19191c;
	color: #fbfbfc;
	padding: 16px 36px;
	cursor: pointer;
	border: none;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
}

@media screen and (max-width: 860px) {
	.prices,
	.profession {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.offer__holder {
		padding-top: 30px;
	}

	.profession__counters {
		justify-content: center;
		display: flex;
		gap: 12px;
		flex-direction: column;
	}

	.professionCounter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.profession__cards {
		margin-top: 50px;
	}

	.prices__cards {
		margin-top: 50px;
	}

	.pricesCard {
		padding: 35px 25px;
		align-items: center;
		min-height: 635px;
	}

	.pricesCard__button {
		width: 100%;
	}

	.pricesCard__footer {
		width: 100%;
	}

	.pricesCard__discount {
		margin-bottom: 12px;
	}
}

@media screen and (min-width: 1024px) {
	.offer {
		background-image: url("../img/designer.png");
		background-position: 133% 100%;
		padding-bottom: 195px;
	}
}
